<h2>Welcome</h2>

<h3>Here are your tasks</h3>

<div id="errors"></div>

<%= form_for @task do |form| %>
  <div>
    <%= form.label :title %>
    <%= form.text_field :title %>
  </div>

  <div>
    <%= form.label :description %>
    <%= form.text_field :description %>
  </div>

  <%= form.submit %>
<% end %>

<h3 id="incomplete-header" data-list-id="incomplete-tasks-list">Incomplete tasks</h3>
<ul id="incomplete-tasks-list">
  <%= render @incomplete_tasks %>
</ul>

<h3 id="complete-header" data-list-id="complete-tasks-list">Completed tasks</h3>
<ul id="complete-tasks-list">
  <%= render @completed_tasks %>
</ul>
