<h2>Welcome</h2>

<h3>Here are your tasks</h3>

<div id="errors"></div>

<%= form_for @task do |form| %>
  <div>
    <%= form.label :title %>
    <%= form.text_field :title %>
  </div>

  <div>
    <%= form.label :description %>
    <%= form.text_field :description %>
  </div>

  <%= form.submit %>
<% end %>

<h4>Incomplete tasks</h4>
<ul id="incomplete_tasks_list">
  <%= render @incomplete_tasks %>
</ul>

<h4>Completed tasks</h4>
<ul id="complete_tasks_list">
  <%= render @completed_tasks %>
</ul>
